<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form method = "post" action = '/'>
  <!--Radio group-->
<div class="form-group ">
    <input name="good_evil" type="radio" id="good" value='good'>
    <label for="good_evil">Good</label>
    <input name="good_evil" type="radio" id="evil" value='evil'>
    <label for="good_evil">Evil</label><br>
	<input name="favFood" type="text" placeholder="Favorite Food">
<div class = "{{select_colors}}">
  <select name="colors">
    <option value="red">Red</option>
    <option value="blue">Blue</option>
    <option value="green">Green</option>
    <option value="yellow">Yellow</option>
    </select>
  </div>
<div id="slidecontainer">
	<label for='insanity'>How insane are you?</label>
  <input name = "insanity" type="range" min="1" max="10" value="1" class="slider" id="insanitySlider">
  {{insane_friends}}
</div>
	<input type="submit" value="Submit">
</div>
</form>

<div id='mainContentDiv' class="container">
<ul class="list-group">
<h2>Like</h2>
{{#each likes as |like|}}
<li class="list-group-item">{{like}}</li>
{{/each}}
</ul>
<ul class = "list-group">
  <h2>Dislikes</h2>
  {{#each dislikes as |dislike|}}
  <li class = "list-group-item">{{dislike}}</li>
  {{/each}}
</ul>
<div class='row'>
<div id='mainContent' class='col-md-6'>
  <h2>Your Biography</h2>
{{biography}}
</div>
<div id='mainContent' class='col-md-6'>
  <h2>Your Resume</h2>
{{resume}}
</div>
</div>
</div>
