<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form method = "post" action = '/'>
  <!--Radio group-->
<div class="form-group ">
    <input name="good_evil" type="radio" id="good" value='good'>
    <label for="good_evil">Good</label>
    <input name="good_evil" type="radio" id="evil" value='evil'>
    <label for="good_evil">Evil</label><br>
	<input name="favFood" type="text" placeholder="Favorite Food">
<div class="dropdown">
  <button name = "colors" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Pick your favorite color
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="#">Red</a></li>
    <li><a href="#">Blue</a></li>
    <li><a href="#">Green</a></li>
  </ul>
</div>

<div id="slidecontainer">
	<label for='insanity'>How insane are you?</label>
  <input name = "insanity" type="range" min="1" max="10" value="1" class="slider" id="insanitySlider">
</div>
	<input type="submit" value="Submit">
</div>
</form>

<div id='mainContentDiv' class="container">
	<ul class="list-group">
	{{#each likes as |like|}}
  <li class="list-group-item">{{like.name}}</li>
  {{/each}}
</ul>
</div>

{{biography}}

{{resume}}
